.item {
  margin: 1rem 0;
}

.image {
  padding: 1rem;
  width: 33%;
  height: 25rem;
  overflow: hidden;
}

.image img {
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  width: 66%;
  height: 25rem;
  text-align: left;
}

.content h3 {
  font-size: 2.4rem;
  color: #2c292b;
}

.actions {
  padding: 1.5rem;
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  color: #ff5555;
  font-size: 1.6rem;
  font-weight: 600;
  border: 0.2rem solid #ff5555;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 5rem;
}

.actions button:hover,
.actions button:active {
  background-color: #ff5555;
  color: white;
  font-weight: 600;
}
